@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.option {
  color: black !important;
}
.btn {
  border: 1px solid white !important;
  background-color: transparent;
}
.cont_container {
  font-family: "poppins", sans-serif;
}
.cont_heading {
  font-weight: bold !important;
  letter-spacing: 2px !important;
  position: relative;
  left: 20px;
}
